<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LayoutInflater"
        tools:targetApi="31">
        
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- 基础示例 -->
        <activity android:name=".basic.BasicInflateActivity" />
        <activity android:name=".basic.GetLayoutInflaterActivity" />
        <activity android:name=".basic.InflaterInstanceActivity" />
        
        <!-- attachToRoot 参数详解 -->
        <activity android:name=".advanced.AttachToRootActivity" />
        
        <!-- LayoutInflater 工厂机制 -->
        <activity android:name=".factory.FactoryActivity" />
        
        <!-- 自定义 LayoutInflater -->
        <activity android:name=".custom.CustomLayoutInflaterActivity" />
        
        <!-- cloneInContext -->
        <activity android:name=".clone.CloneInflaterActivity" />
        
        <!-- RecyclerView 示例 -->
        <activity android:name=".recyclerview.RecyclerViewActivity" />
        
        <!-- 动态添加 View -->
        <activity android:name=".dynamic.DynamicViewActivity" />
        
        <!-- LayoutInflaterCompat 与 LayoutFactory2 -->
        <activity android:name=".advanced.LayoutInflaterCompatActivity" />
        
        <!-- AsyncLayoutInflater -->
        <activity android:name=".async.AsyncInflateActivity" />
        
    </application>

</manifest>
