/.gradle/
/build/
/.idea/
/c++/cpp_reference/.idea/
/c++/cpp_reference/cmake-build-debug
/c++/c_reference/.idea/
/c++/c_reference/cmake-build-debug
/database/postgres/build/
/explore/velocity/build/
/explore/reactivestreams/build/
