<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TouchDemo"
        tools:targetApi="31">
        
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Level 1: 基础分发流程 -->
        <activity android:name=".level1.BasicDispatchActivity" />
        
        <!-- Level 2: 拦截与消费 -->
        <activity android:name=".level2.InterceptConsumeActivity" />
        
        <!-- Level 3: 滑动冲突 -->
        <activity android:name=".level3.ScrollConflictActivity" />
        
        <!-- Level 4: 高级场景 -->
        <activity android:name=".level4.MultiTouchActivity" />
        <activity android:name=".level4.GestureDetectActivity" />
        <activity android:name=".level4.NestedScrollingActivity" />
        <activity android:name=".level4.FlingActivity" />
        
    </application>

</manifest>
