<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lifecycle"
        tools:targetApi="31">
        
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Lifecycle 基础 -->
        <activity android:name=".basic.LifecycleObserverActivity" />
        <activity android:name=".basic.CustomLifecycleOwnerActivity" />
        
        <!-- ViewModel 进阶 -->
        <activity android:name=".viewmodel.ViewModelSavedStateActivity" />
        <activity android:name=".viewmodel.ViewModelFactoryActivity" />
        <activity android:name=".viewmodel.SharedViewModelActivity" />
        
        <!-- LiveData 转换 -->
        <activity android:name=".livedata.TransformationsActivity" />
        <activity android:name=".livedata.MediatorLiveDataActivity" />
        <activity android:name=".livedata.CustomLiveDataActivity" />
        
        <!-- Kotlin Flow -->
        <activity android:name=".flow.StateFlowActivity" />
        <activity android:name=".flow.SharedFlowActivity" />
        <activity android:name=".flow.FlowLiveDataActivity" />
        
        <!-- 协程进阶 -->
        <activity android:name=".advanced.ViewModelScopeActivity" />
        <activity android:name=".advanced.RepeatOnLifecycleActivity" />
        <activity android:name=".advanced.ProcessLifecycleActivity" />
        
        <!-- MVVM 实战 -->
        <activity android:name=".mvvm.MvvmActivity" />
        
    </application>

</manifest>
